/* селектор {
    свойство:значение;
    свойство:значение;
} */

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;

}

h2 {
    color: black;
    font-size: 40px;
    text-align: center;
}

h3 {
    color: black;
    font-size: 30px;
    text-align: center;
}

h4 {
    color: black;
    font-size: 20px;
    text-align: center;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.album {
    color:#009797;
}

.text {
    font-weight: 600;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link1 {
    text-align: center;
}

.list1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.name1 {
    text-align: center;
}

.header {
    width: 1000px ;
    height: 60px;
    background-color: rgba(205, 92, 92, 0.501);
    padding: 20px 0px;
    border: 1px solid black;
    margin: auto;
    color: black;
    font-size: 60px;
    text-align: center;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.1);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.2);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.3);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.4);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box5 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.5);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box6 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.6);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box7 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.7);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box8 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.8);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box9 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 0.9);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}

.box10 {
    width: 100px;
    height: 100px;
    background-color: rgba(122, 183, 237, 1);
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    border-radius: 8px; 
}